/target/
/trash/
/src/main/resources/rest/
.docker
nbactions*
/.syncany/
/.gradle/
/.nb-gradle-properties
/.syignore
/gradle.properties
/nb-configuration.xml
/private/
/build/
/.nb-gradle/
/node_modules/*
/src/main/webapp/js/admin/FeedEdit.js
/src/main/webapp/js/bs3/Badge.js
/src/main/webapp/js/FeedItemList.js
/src/main/webapp/js/FeedList.js
/src/main/webapp/js/FeedItem.js