$v-app-loading-text: "Feedreader";

@import "../valo/valo";

@mixin feedreader {
    @include valo;
    
    .title {
        .v-label {
            font-size: 1.5em;
            padding: 0.5em;
            font-weight: bold;
        }
    }

    .feedItem, .feed {
        .v-button {
            border-radius: 0px;
        }
    }
    
    .feedItem, .feed {
        .v-button-icon-align-right {
            .v-button-wrap {
                width: 100%;
            }
        }
    }
    
    .v-button.multiline {
        white-space: normal;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .badge {
        border-radius: 40px;
        padding: 0.25em 0.5em;
        margin-left: 0.5em;
        
        backgroud-color: valo-font-color($v-background-color);
        color: $v-background-color;
        @include valo-gradient(valo-font-color($v-background-color));
    }
    
    .v-button {
        .badge {
            backgroud-color: $v-background-color;
            color: valo-font-color($v-background-color);
            @include valo-gradient();
        }
    }
}